.menu {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color:darkseagreen;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 25px;
}
.languages {
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  margin: 25px;
  width: 310px;
  font-family: fantasy;
}
